.wrapper {
  width: 300px;
  height: 360px;
  background-color: aliceblue;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgb(43, 44, 45);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  margin-top: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 255, 255, 0.633);
  padding: 10px;
}

.button:hover {
  color: rgba(0, 0, 0, 0.444);
  background-color: aqua;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 180px;
  height: 26px;
  border-radius: 4px;
  border: none;
}

.text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
}

.link {
  padding-left: 5px;
  text-decoration: none;
  color: rgba(0, 255, 255, 0.633);
  font-size: 18px;
}
