.wrapper {
  padding: 10px;
  margin-top: 30px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(43, 44, 45);
}

.userWrapper {
  display: flex;
  flex-direction: column;
}

.text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.05em;
  color: aliceblue;
}

.span {
  margin-right: 8px;
}

.button {
  border: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.05em;
  background-color: rgba(0, 255, 255, 0.633);
  border-radius: 4px;
  margin-top: 10px;
  width: 80px;
  height: 30px;
}
.button:hover {
  color: rgba(0, 0, 0, 0.444);
  background-color: aqua;
}
